@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/* shared styles */
.display-flex{
  display: flex;
}
.text-gray{
  color: #424242;
}
.text-light-gray{
  color: #727272;
}
.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}

/* body style */
header{
  padding:  50px 250px 45px;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}
.navber{
  justify-content: space-between;
  align-items: center;
}
.navber .banner{
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
.nav-links{
 gap: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.nav-item{
  list-style: none;
}
/* banner style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.image{
  width: 100%;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}