@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
main{
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex{
  display: flex;
}
.text-gray{
  color: #424242;
}
.text-light-gray{
  color: #727272;
}
.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}
main > section {
  margin-top: 130px;
}

.text-primary{
  color: #ff900e;
}

.section-title{
  font-size: 2.8rem;
  font-weight: bold;
}
/* body style */

.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}
.navber{
  justify-content: space-between;
  align-items: center;
}
.navber .banner{
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
.nav-links{
 gap: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.nav-item{
  list-style: none;
}
/* banner style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.image{
  width: 100%;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
/* team and feature related styles */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
  width: 100%;
}

#quick-list{
  font-weight: 500;
}
/* card styles */

.fact-card{
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1,25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;

}
/* for sponsor */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsors-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsors-companies img{
  filter: grayscale(100%);
}
/* responsive media query */
@media screen and (max-width: 576px){
  .navber,
  .nav-links,
  .teams{
    flex-direction: column;
    text-align: center;
  }
  .team-img-container,
  .facts-container,
  .sponsors-companies
  {
    grid-template-columns: 1fr;
  }
  .facts-container{
    justify-items: center;
    gap: 20px;
  }
  .sponsors-companies{
    justify-items: center;
    gap: 30px;
  }
  .our-features{
    margin-left: 30px;
  }
}
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
    text-align: center;
  }
  .our-features{
    margin: 50px auto;
  }
  .sponsors-companies{
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
  .facts-container{
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
}